.announcement{ background-color:#337ab7; width: 100%; height: 30px; }

#marqueeStyle{ width:100%; direction:right; height:100px; color: beige; font-size:120%; } 

#video{ width:100%; height:500px; border: none; }